services:
  redis:
    image: redis:7.4-alpine
    container_name: poc-redis
    ports:
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning
    volumes:
      - redis-data:/data

volumes:
  redis-data:
